<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Modulr - Modular Based App{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
    >
</head>
<body>
    <main class="container">
        <nav>
            <ul>
                <li><strong><a href="{% url 'module_list' %}">Modulr</a></strong></li>
            </ul>
            <ul>
                {% if request.user.is_authenticated %}
                <li>Hi, {{ request.user }}</li>
                {% else %}
                <li>Guest</li>
                {% endif %}
                {% if request.user.is_authenticated %}
                <li>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
        {% block messages %}
            {% include "components/messages.html" %}
        {% endblock %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
