<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Modulr - Mdoular Based App{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'module_list' %}">Home</a>
            {% if user.is_authenticated %}
                <span>Welcome, {{ user.username }}</span>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>

            {% else %}
                <a href="{% url 'login' %}"><button>Login</button></a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
