{% extends 'base.html' %}

{% block content %}
<h1>My Modules</h1>
<table>
    <thead>
        <tr>
            <th><strong>Module</strong></th>
            <th><strong>Status</strong></th>
            <th style="text-align: right;"></th>
        </tr>
    </thead>
    <tbody>
        {% for module in modules %}
        {% with module.slug|add:"_list" as template_list %}
        <tr>
            <td>{{ module.slug|capfirst }}</td>
            <td>{% if module.is_installed %}Installed{% else %}Uninstalled{% endif %}</td>
            <td style="text-align: right;">
                {% if module.is_installed %}
                    <a href="{% url template_list %}" role="button">View</a>
                    {% if module.needs_upgrade %}
                    <a href="{% url 'module_upgrade' module.slug %}" role="button" class="secondary">Upgrade</a>
                    {% endif %}
                    <a href="{% url 'module_uninstall' module.slug %}" role="button" class="pico-background-red">Uninstall</a>
                {% else %}
                <a href="{% url 'module_install' module.slug %}" role="button">Install</a>
                {% endif %}
            </td>
        </tr>
        {% endwith %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
